@use '../../lib/service.scss' as s;
@use '../../lib/spotify.scss' as spotify;

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 36px;
}

.playlists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}


